* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;
  padding: 50px 50px 150px 50px;

  width: 80%;
  /* once maximum width of 750px is reached, can not get any bigger */
  max-width: 750px;
  margin: 0 auto;
}

.intro-content {
  width: 50%;
}
